
<%- include("./includes/head.ejs") %>

  <div class="outerMap">
    <div class="outertxtBox">
      <div class="outertxt">
        <p id="uptxt">welcome to beTrack</p>
        <a href="/track"><button id="trackBtn">Track</button></a><a href="/betrack"><button
            id="trackedBtn">Betracked</button></a>
      </div>
    </div>
  </div>

  </div>
  
  <p id="startTracked"></p>
  <p id="form"></p>
  <p id="stopTracked"></p>
  <p id="stat"></p>
  <p id="trackDataBox"></p>
  <p id="stopTrack"></p> 
  <%- include("./includes/end.ejs") %>